.input {
    width: 300px;
    margin-bottom: 30px;
    height: 25px;
    outline: none;
}
.error {
    border: 2px solid red;
}
.label {
    width: 400px;
    display: flex;
    justify-content: space-between;
}