body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a:hover {
    font-size: 17px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.555);
}
a {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.315);
    padding: 17px;
    transition: 0.5s;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 20px;
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.appetizers {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: url(https://i.pinimg.com/originals/16/21/33/162133d2ac8fb7c4596df5a76664b54b.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}

.breads {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url(https://www.seriouseats.com/recipes/images/2015/09/20150910-pan-con-tomate-kenji-10-1500x1125.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}

.drinks {
    grid-column: 1/ 2;
    grid-row: 2/ 3;
    background: url(https://images.immediate.co.uk/production/volatile/sites/30/2020/08/classic_snowball-9022de0.jpg?quality=90&resize=500%2C454);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}
.fast {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    background: url(https://image.stirileprotv.ro/media/images/1408x882/May2013/61327821.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}

@media (max-width: 575.98px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(4, 200px);
        grid-gap: 20px;
        height: auto;
        justify-content: center;
        align-content: center;
    }
    .appetizers {
        grid-column: 1;
        grid-row: 1 / 2;
        background: url(https://i.pinimg.com/originals/16/21/33/162133d2ac8fb7c4596df5a76664b54b.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .breads {
        grid-column: 1;
        grid-row: 2 / 3;
        background: url(https://www.seriouseats.com/recipes/images/2015/09/20150910-pan-con-tomate-kenji-10-1500x1125.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .drinks {
        grid-column: 1;
        grid-row: 3 / 4;
        background: url(https://images.immediate.co.uk/production/volatile/sites/30/2020/08/classic_snowball-9022de0.jpg?quality=90&resize=500%2C454);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .fast {
        grid-column: 1;
        grid-row: 4 / 5;
        background: url(https://image.stirileprotv.ro/media/images/1408x882/May2013/61327821.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column-reverse;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(2, 150px);
        grid-gap: 20px;
        height: 100vh;
        justify-content: center;
        align-content: center;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}