body {
    margin: 0;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: rgb(169, 62, 196);
    padding: 20px;
    color: white;
    font-weight: bold;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftSidebar {
    background-color: cornflowerblue;

}
.mainContent {
    flex-grow: 1;
    background-color: rgb(206, 199, 199);
    padding: 20px;
    height: 350px;
    color: black;
    font-weight: bold;
}
.rightSidebar {
    background-color: rgb(117, 226, 53);
}
.textPosition {
    padding: 20px;
    color: white;
    font-weight: bold;
}
footer {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: rgb(230, 148, 25);
}