body {
    background-color: #ffa600;
}
.default {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
}
.stopwatch {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p {
    text-align: center;
    color: white;
    font-size: 40px;
}
button {
    padding: 20px 50px;
    background-color: #ffa600;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-size: 1.1em;
}
button:hover {
    background-color: white;
    transition: 1s;
    color: #ffa600;
}
button:focus {
    outline: none !important;
}