#shoppingDiv {
    width: 400px;
}
#shop-list {
    background-color: green;
    color: white;
    width: 430px;
    padding: 20px;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.d-flex-row {
    display: flex;
}
.d-none {
    display: none;
}
.background-color {
    background-color: rgba(16, 199, 16, 0.63);
}
.customized-input {
    width: 200px;
    padding: 10px 0;
}
.customized-btn {
    width: fit-content;
}
input {
    width: 300px;
    padding: 10px 0;
}
p {
    width: 300px;
    padding: 10px 0;
    border: 1px solid;
}
button {
    width: 50px;
    display: inline;
}