@import './variables.scss';
.flexC {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.overview {
    .title {
        color: white;
        margin-left: 10px;
        margin-bottom: 0;
    }
}
